.product-image {
  object-fit: cover;
  height: 20em;
  width: 100%;
}

.cart-image {
  object-fit: cover;
  width: 10em;
  height: 100%;
}

.product-page-image {
  object-fit: cover;
  height: 25em;
  width: 100%;
}
